@model GovUk.Education.ExploreEducationStatistics.Content.Model.Publication

@{
    ViewData["Title"] = Model.Title;
}

<span class="govuk-caption-l">Publication</span>
<h1 class="govuk-heading-l">@Model.Title</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Details</h3>

        <table class="govuk-table">
            <tbody>
            <tr class="govuk-table__row">
                <td class="govuk-table__header">
                    @Html.DisplayNameFor(model => model.Topic)
                </td>
                <td class="govuk-table__cell">
                    <a asp-controller="Topics" asp-action="Details" asp-route-id="@Model.TopicId" class="govuk-link">@Html.DisplayFor(model => model.Topic.Title)</a>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header">
                    @Html.DisplayNameFor(model => model.Slug)
                </td>
                <td class="govuk-table__cell">
                    /@Html.DisplayFor(model => model.Slug)/
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header">
                    @Html.DisplayNameFor(model => model.Summary)
                </td>
                <td class="govuk-table__cell">
                    @Html.DisplayFor(model => model.Summary)
                </td>
            </tr>

            <tr class="govuk-table__row">
                <td class="govuk-table__header">
                    @Html.DisplayNameFor(model => model.NextUpdate)
                </td>
                <td class="govuk-table__cell">
                    @Html.DisplayFor(model => model.NextUpdate)
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__header">
                    @Html.DisplayNameFor(model => model.LegacyPublicationUrl)
                </td>
                <td class="govuk-table__cell">
                    <a href="@Model.LegacyPublicationUrl" class="govuk-link" target="_blank">@Html.DisplayFor(model => model.LegacyPublicationUrl)</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Releases</h3>
        <ul class="govuk-list">
            @foreach (var item in Model.Releases)
            {
                <li>
                    <a asp-route-id="@item.Id" asp-action="Details" asp-controller="Publications" class="govuk-link">@Html.DisplayFor(modelItem => item.Title)</a>
                </li>
            }
        </ul>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="govuk-button">Edit</a>
    <p>
        <a asp-action="Index" class="govuk-back-link">Back to List</a>
    </p>
</div>