@model IEnumerable<GovUk.Education.ExploreEducationStatistics.Content.Model.Publication>

@{
    ViewData["Title"] = "Publications";
}

<h1 class="govuk-heading-l">Publications</h1>

<p>
    <a asp-action="Create" class="govuk-button">Create new publication</a>
</p>
<table class="govuk-table">
    <caption class="govuk-table__caption">Current publications</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">

        <th class="govuk-table__header">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th class="govuk-table__header">
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th class="govuk-table__header">
            @Html.DisplayNameFor(model => model.Topic)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr class="govuk-table__row">

            <td class="govuk-table__header">
                <a asp-action="Details" asp-route-id="@item.Id" class="govuk-link">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td class="govuk-table__cell">
                /@Html.DisplayFor(modelItem => item.Slug)/
            </td>
            <td class="govuk-table__cell">
                <a asp-route-id="@item.TopicId" asp-action="Details" asp-controller="Topics" class="govuk-link">@Html.DisplayFor(modelItem => item.Topic.Title)</a>
            </td>
        </tr>
    }
    </tbody>
</table>