@model Dictionary<GovUk.Education.ExploreEducationStatistics.Content.Model.Release, IEnumerable<FileInfo>>
@{
    ViewData["Title"] = "Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="govuk-heading-l">List files</h1>

<table class="govuk-table">
    <caption class="govuk-table__caption">Uploaded files</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Release</th>
        <th class="govuk-table__header" scope="col">Subject title</th>
        <th class="govuk-table__header" scope="col">Data file path</th>
        <th class="govuk-table__header" scope="col">Metadata file name</th>
        <th class="govuk-table__header" scope="col">Filesize</th>
        <th class="govuk-table__header" scope="col">Extension</th>

    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @foreach (var release in Model.Keys)
    {
        var files = Model[release].ToList();
        if (files.Any())
        {
            @:<tr class="govuk-table__row">
            var secondRowOrHigher = false;

            @:<th class="govuk-table__header" scope="rowgroup" rowspan="@files.Count">@release.Title</th>
            foreach (var file in files)
            {
                if (secondRowOrHigher)
                {
                    @:<tr>
                }
                secondRowOrHigher = true;
                <td class="govuk-table__cell">@file.Name</td>
                <td class="govuk-table__cell">@file.Path</td>
                <td class="govuk-table__cell">@file.MetaFileName</td>
                <td class="govuk-table__cell">@file.Size</td>
                <td class="govuk-table__cell">@file.Extension</td>
                @:</tr>
            }
        }
    }
    </tbody>
</table>