@model IEnumerable<GovUk.Education.ExploreEducationStatistics.Content.Model.Topic>

@{
    ViewData["Title"] = "Topics";
}

<h1 class="govuk-heading-l">Topics</h1>
<p>
    <a asp-action="Create" class="govuk-button">Create new topic</a>
</p>

<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th class="govuk-table__header">
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th class="govuk-table__header">
            @Html.DisplayNameFor(model => model.Theme)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr class="govuk-table__row">
            <td class="govuk-table__header">
                <a asp-action="Details" asp-route-id="@item.Id" class="govuk-link">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td class="govuk-table__cell">
                /@Html.DisplayFor(modelItem => item.Slug)/
            </td>
            <td class="govuk-table__cell">
                <a asp-controller="Themes" asp-action="Details" asp-route-id="@item.ThemeId" class="govuk-link">@Html.DisplayFor(modelItem => item.Theme.Title)</a>
            </td>
        </tr>
    }
    </tbody>
</table>